body {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #ffffff;
    margin: 0;
    font-weight: 500;
    width: 1440px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    list-style-type: none;
    text-decoration: none;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

h2{
    color: #434455;
}

h3{
    color: #434455;
}

header{
    margin: 24px 0;
}


.logo-header {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #2e2f42;
    font-size: 18px;
    letter-spacing: 0.03em;
}

.accent{
    color: #4D5AE5;
}


.nav-ul {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
    margin: 24 76 24 332;
}

.nav-a {
    color: #2e2f42;
}



.nav-a:hover,
.nav-a:focus {
    color: #4D5AE5;
}

.address {
    color: #434455;
    font-style: normal;
    font-weight: 400;
}

.address-ul{
    display: flex;
    gap: 40px;
}


.address-link{
    color: #2e2f42;
}

.address-link:hover,
.address-link:focus{
    color: #4D5AE5;
}

.background-title{
    background-color: #2e2f42;
}

.title{
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 48px;
}

.order-service-button{
    padding: 16px 32px;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
}

.our-team{
    text-align: center;
}

.managers{
    text-align: center;
}

.portfolio{
    text-align: center;
}

.manager-color{
    background-color: #fff;
}

.section-second{
    background-color: #f4f4fd;
}

.footer{
    background-color: #2e2f42;
}

.logo-footer {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #F4F4FD;
    font-size: 18px;
    letter-spacing: 0.03em;
}

.footer-text{
    color: #fff;
}

.container {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}

.header-conteiner{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.title-conteiner{
    text-align: center;
    padding: 300px 236px;
}

